.login-bg, .main-bg {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("https://wallpapercave.com/wp/wp2639448.png") no-repeat center center/cover;
    min-height: 100vh;
    color: white;
}

.glass-box {
    width: 350px;
    padding: 30px;
    margin: 100px auto;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    border-radius: 18px;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    text-align: center;
}

.glass-box h2 {
    margin-bottom: 25px;
    font-size: 26px;
}

.input-row {
    position: relative;
    margin-bottom: 18px;
}

.input-row input {
    width: 80%;
    padding: 12px 45px 12px 15px;
    background: rgba(255,255,255,0.25);
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    outline: none;
}

.input-row i {
    position: absolute;
    top: 12px;
    right: 15px;
    color: white;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
}

.options a {
    color: #fff;
    text-decoration: none;
}

.login-btn {
    width: 100%;
    padding: 12px;
    border-radius: 30px;
    border: none;
    background: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.login-btn:hover {
    background: #ddd;
}

.register-text {
    margin-top: 15px;
    font-size: 14px;
}

.register-text a {
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 40px;
    background: rgba(0,0,0,0.4);
    padding: 15px;
    backdrop-filter: blur(10px);
}

.navbar a {
    padding: 8px 18px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    border-radius: 20px;
}

.navbar a:hover,
.navbar .active {
    background: rgba(255,255,255,0.3);
}

.logout {
    background: rgba(255,0,0,0.4);
    border: 1px solid rgba(255,0,0,0.6);
}

.container {
    width: 60%;
    margin: 60px auto;
    padding: 25px;
    background: rgba(0,0,0,0.4);
    border-radius: 20px;
}

.profile-box {
    display: flex;
    gap: 30px;
}

.profile-box img {
    width: 210px;
    height: 220px;
    object-fit: cover;
    border-radius: 15px;
}

.project-grid {
    display: flex;
    gap: 20px;
}

.project-card {
    flex: 1;
    padding: 20px;
    background: rgba(255,255,255,0.1);
    border-radius: 15px;
    text-align: center;
}

.about-container {
    width: 55%;
    margin: 80px auto;
    padding: 25px 40px;
    background: rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    text-align: center;
}



.about-container h4 {
    margin-bottom: 25px;
    font-size: 18px;
    color: #ddd;
}

.about-box {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    justify-content: center;
}

/* PROFILE PHOTO */
.about-box img {
    width: 220px;
    height: 260px;
    object-fit: cover;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.3);
}

/* TEXT SECTION */
.about-info p {
    font-size: 18px;
    margin: 8px 0;
    text-align: left;
}
